.dashboard {
  height: 500px;
  display: grid;
  grid-template-column: 33% 1fr 1fr 1fr;
  grid-template-row: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 10px 0;

  .grid-profile {
    grid-row: 1 / span 2;
    text-align: center;
    .avatar-big {
      margin-top: 40px
    }
  }
  .grid-sales {

  }
  .grid-prices {

  }
  .grid-reviews {

  }
  .grid-books {
    grid-column: 2 / span 3;
    grid-row: 2;

  }
  .grid {
    border: solid 1px black;
    &:hover {
      border: solid 3px red;
    }
  }
  hr {
    border: solid 1px red;
  }
}


#chart-1{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.avatar-big {
  height: 100px;
  width: 100px;
}
