<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/163176/home-laptop-tablet-lifestyle-163176.jpeg');">
  <div class="banner-content">

    <h1>CHAPTER</h1>
    <p>Discover the world, one book at a time</p>

    <!-- <div class = form>
     <input type="text" class="form-control" placeholder="Hello... Is it me you're looking for?">
    </div> -->

    <!-- <div class="search-form">
      <form action="/books" method="get">
        <input type="text" name="book_type" placeholder="Search for books">
        <input type="submit">
      </form>
    </div> -->

    <%= form_tag(movies_path, method: :get) do %>
      <%= text_field_tag :query %>
      <%= submit_tag 'Search' %>
    <% end %>

  </div>
</div>
