<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/163176/home-laptop-tablet-lifestyle-163176.jpeg');">
  <div class="banner-content">
    <h1>BOOKTER</h1>
    <p>Discover the world, one book at a time</p>

  <div class="form test">
    <form action="/books/search" method="get">
      <input type="text" name ="query" id="query" placeholder="Search for book title, genre or synopsis" class="search-bar" >
      <%= link_to "Search", search_books_path, class: 'btn search-btn' %>
    </form>
  </div>
</div>
</div>
