
<div class="container">
  <div class="row">
    <% @books.each do |book| %>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/12064/pexels-photo-12064.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb');">
        <div class="card-category"><%= book.genre %></div>
        <div class="card-description">
          <h2><%= book.title %></h2>
          <p><%= book.author %></p>
        </div>
        <div class="card-price">
          <p><%= book.price %>€</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/lynnvanderhallen">
        <a class="card-link" href="#" ></a>
      </div>


    </div>
    <% end %>
  </div>
</div>
