
<div class="container">
  <div class="row">
    <% @books.each do |book| %>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/12064/pexels-photo-12064.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb');">
        <div class="card-category">Genre</div>
        <div class="card-description">
          <h2>Booktitle</h2>
          <p>Author?</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/lynnvanderhallen">
        <a class="card-link" href="#" ></a>
      </div>


    <% end %>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/12064/pexels-photo-12064.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb');">
        <div class="card-category">Genre</div>
        <div class="card-description">
          <h2>Booktitle</h2>
          <p>Author?</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/lynnvanderhallen">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/264635/pexels-photo-264635.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb');">
        <div class="card-category">Genre</div>
        <div class="card-description">
          <h2>Booktitle</h2>
          <p>Author?</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/lynnvanderhallen">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/34592/pexels-photo.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb');">
        <div class="card-category">Genre</div>
        <div class="card-description">
          <h2>Booktitle</h2>
          <p>Author?</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/lynnvanderhallen">
        <a class="card-link" href="#" ></a>
      </div>

    </div>
  </div>
</div>
