<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
        <h2>Payment was succesful!</h2>
        <h3>Book</h3>
        <p><%= @book.title %></p>
        <h3>Amount</h3>
        <p>€<%= @book.price %></p>
          <%= link_to "Download your book", '#', class: "btn btn-default"%>
          <%= link_to "Back to Overview", root_path(@book), class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>

