<h2>Payment Summary</h2>

<h3>Amount: <%= @book.price %> €</h3>

<h3> Billing Information </h3>

<ul>
    <li>First Name: <%= @user.username %></li>
    <li>Last Name: Van Roeyen</li>
    <li>Card Number: 6703 4509 6788 4560 4</li>
    <li>Experience date: 07/2021</li>
    <li>Card Code: ***</li>
    <li><%= link_to "Add another Account", '#' %></li>
</ul>

<h2><%= link_to "Back to Order", :back %></h2>


