   <div class="flex-container">

    <div class="col-xs-12 col-sm-4">
      <div class="card-big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../assets/img-1.jpg');">
        <div class="showpage-title"><%= @book.title %></div>
        <img class="showpage-user" src="https://kitt.lewagon.com/placeholder/users/lynnvanderhallen">
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card-big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../assets/img-1.jpg');">
        <div class="showpage-title"><%= @book.title %></div>
        <img class="showpage-user" src="https://kitt.lewagon.com/placeholder/users/lynnvanderhallen">
      </div>
    </div>

</div>




