.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: white;
  opacity: 0.6;
  margin-bottom: 30px;
}


@media(min-width: 500px) {

  .search-bar {
    padding: 7px;
    border: none;
    border-radius: 4px;
    color: black;
    font-weight: lighter;
    width: 350px;
    margin-right: 2px;
  }
}

@media(max-width: 500px) {

  .search-bar {
    padding: 7px;
    border: none;
    border-radius: 4px;
    color: black;
    font-weight: lighter;
    // max-width:350px;
    margin-right: 2px;
  }
}

.test {
  width:100%;
}


.search-btn {
  vertical-align: inherit;
  border-radius: 4px;
  background: $red-accent;
  border-color: $red-accent;
  color: white;
  font-weight: lighter;
  margin-top: 10px;
}

.search-btn:hover {
  color: white;
}

