.card-big {
  height: 450px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transform: scale(0.9);
  transition: all 0.3s ease;
  font-family: 'Roboto', sans-serif;
}

.card-big p {
  padding:5px 20px ;
  justify-content:center;
}




// .card-big:hover {

//     transform: scale(1);

//   }

  .showpage-title {
    position: absolute;
    top: 20px;
    font-size: 35px;
    color: #999999;
    text-align: center;
    width: 100%;
    font-family: 'Special Elite', cursive;
    text-transform: capitalize;

  }

  .showpage-author{
    position: absolute;
    top: 60px;
    font-size: 15px;
    color: #999999;
    width: 100%;
    text-align: center;

  }

  .showpage-author-description{
    position: absolute;
    top: 120px;
    font-size: 15px;
    color: #999999;

  }

.showpage-user {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 70px;
    border-radius: 50%;
    background-size: cover;
}

.showpage-button {
  position:absolute;
  bottom: 10px;
  width:100%;

}


.showpage-synopsis{
  position:absolute;
  top: 130px;
  font-size:15px;
  color:#999999;
  text-align:justify;
}
