.card-big {
  height: 450px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transform: scale(0.9);
  transition: all 0.3s ease;
  font-family: 'Roboto', sans-serif;
}

// .card-big:hover {

//     transform: scale(1);

//   }

  .showpage-title {
    position: absolute;
    top: 40px;
    left: 30px;

    font-size: 15px;
    color: #999999;

  }

  .showpage-author{
    position: absolute;
    top: 60px;
    left: 30px;
    font-size: 15px;
    color: #999999;

  }

  .showpage-author-description{
    position: absolute;
    top: 150px;
    left: 30px;
    font-size: 15px;
    color: #999999;

  }

.showpage-user {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 70px;
    border-radius: 50%;
    background-size: cover;
}

.showpage-button {
  position:absolute;
  bottom: 10px;
  width: 100%;
}

.col-sm-4 {
width:350px;
}

.showpage-synopsys{
  position:absolute;
  top: 150px;
  left:30px;
  font-size:15px;
  color:#999999;
}
