.card-big {
  height: 450px;
  background-size: cover !important;
  background-position: center;
  color: #999999;
  position: relative;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  max-width: 400px;
  margin: 0 auto;
}

.card-big p {
  padding:5px 20px ;
  justify-content:center;
  margin: 0;

}



.col-xs-12 {
  min-width:auto;
}

.showpage-title {
  padding-top:10px;
  position: relative;
  font-size: 35px;
  color: #999999;
  text-align: center;
  width: 100%;
  font-family: 'Special Elite', cursive;
  text-transform: capitalize;

}

.showpage-author{
  position: relative;
  font-size: 15px;
  color: #999999;
  width: 100%;
  text-align: center;

}

.average-review {
  padding-top: 10px;
  color: #ffd700;
  transform: scale(1);
  transition: all 0.3s ease;

}

.rating {
  padding-top: 10px;
  color: #ffd700;
}


.review-link {
  text-decoration:none !important;
}

.average-review:hover {
  transform: scale(1.2);
}

.rating-count {
  color: #999999;
}


.showpage-author {
  margin:0;
}

.showpage-author-description{
  position: relative;
  font-size: 15px;
  color: #999999;

}

.showpage-user {
  position: absolute;
  right: 10px;
  top: 10px;

  border-radius: 50%;
  background-size: cover;
}

.showpage-button {
  position:absolute;
  bottom: 10px;
  width:100%;
}


.showpage-synopsis{
  position:relative;
  padding-top: 30px;
  font-size:15px;
  color:#999999;
  text-align:justify;
}
